* {
    box-sizing: border-box;
}
.title {
    font-family: 'Great Vibes', cursive;
    font-weight: normal;
    text-align: center;
    font-size: 80px;
    margin: 60px 0;
}
.section {
    display: flex;
    text-align: center;
    flex-wrap: center;
    margin: 0px 20px 0px 20px;
    border: 1px solid black;
}
.metade {
    width: 50%;
}
.article {
    height: 30%;
    margin: 10px;
}
.images {
    height: 80%;
    width: 80%;
}
.other-sections {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 0;
    margin: 0;
}
.quarto {
    width:25%;
}
.tres-quartos {
    width: 75%;
}
.section-politics {
    background-color: rgb(199, 199, 117);
}
.section-Technology {
    background-color: rgb(0, 238, 255);
}
.section-local {
    background-color: rgb(206, 144, 129);
}
.section-opinion {
    background-color: rgb(0, 255, 13);
}
.section-sports {
    background-color: rgb(207, 124, 196);
}
.site-section {
    display: flex;
    align-items: center;
    flex: 1;
}
.section-link {
    color: black;
    text-decoration: none;
    font-size: 30px;
    padding-left: 30px;
    font-weight: bold;
    font-family: "Futura";
    color: #666;
}
.section-link:hover {
    text-decoration: underline;
}
.lista {
    display: -ms-grid;
    display: grid;
    flex-grow: 1;
}
.subtitle {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}